---
import { url } from '@utils/url-utils'
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro'
---

<Layout title="页面未找到">
  <div class="flex items-center justify-center bg-[#eaeef5] dark:bg-[#090d13] w-[100vw] h-[100vh]">
    <div class="rounded-xl overflow-hidden relative w-[40rem] h-[20rem] m-auto bg-white dark:bg-[#1a1f2e]">
      <div class="flex flex-col gap-8 z-10 px-9 py-6 relative w-full h-full text-black/75 dark:text-white">
        <div class="flex items-center gap-4">
          <h1 class="text-[5rem] font-bold">404</h1>
          <p class="text-[2rem]">Not found</p>
        </div>
        <a href={url("/")} class="inline-block font-bold overflow-hidden">
          <div class="text-[#4272b8] dark:text-[#7aa4e3] bg-[#e4efff] dark:bg-[#1e2943] hover:bg-[#d9e9ff] dark:hover:bg-[#243352] active:bg-[#cfe4ff] dark:active:bg-[#2a3c61] transition-all duration-200 max-w-fit rounded-2xl h-[3.75rem] px-4 flex items-center justify-start gap-2 transform active:scale-95">
              返回首页
            <Icon name="material-symbols:chevron-right-rounded" class="text-[1.75rem]" />
          </div>
        </a>
      </div>
    </div>
  </div>
</Layout>
        